<div class="left-side">
    <br>
    <div class="container text-center">
        <img class="profile-animation" src="assets/profile/display_pic.jpg" alt="" height="200px" width="200px">
    </div>
    <br>
    <div class="container">
        <div class="heading1 color-blue1 text-center">Ankit Patel</div>   
    </div>

    <hr class="first-hr">
    <div class="container">
        <div class="heading1 color-blue1 text-center">Software Developer</div>
    </div>

    <br>
    <app-education></app-education>
    
    <br>
    <app-social></app-social>
</div>


