.right-side {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border: 2px solid white; */
    height: 100%;
    background-color: rgb(65, 16, 222, 0.7);
}

h1,h2,h3,h4,h5,h6,p, ul, li {
    color: white;
}