<div class="container">
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Skills:</strong></div>
    </div>
    
    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/front-end.jpg" 
                data-bs-toggle="modal" data-bs-target="#frontendModal">
            </div>
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/back-end.jpg" data-bs-toggle="modal" data-bs-target="#backendModal">
            </div>
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/database.png" data-bs-toggle="modal" data-bs-target="#databaseModal">
            </div>
        </div>
    
        <div class="row text-center justify-content-center">
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/cicd.jpg" data-bs-toggle="modal" data-bs-target="#cicdModal">
            </div>
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/tools.png" data-bs-toggle="modal" data-bs-target="#toolsModal">
            </div>
            <div class="col-md-3 p-2">
                <img class="skills-animation" src="assets/homepage/testing.png" data-bs-toggle="modal" data-bs-target="#testingModal">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="frontendModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
        <div class="modal-header">
            <div class="heading2 color-blue1"><strong>Front-End Technologies:</strong></div>
            <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/angular.jpg">
                    <div class="heading3 color-blue2">Angular</div>
                </div>
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/typescript.png">
                    <div class="heading3 color-blue2">TypeScript</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/javascript.png">
                    <div class="heading3 color-blue2">JavaScript</div>
                </div>
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/html.jpg">
                    <div class="heading3 color-blue2">HTML</div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="backendModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <div class="heading2 color-blue1"><strong>Back-End Technologies:</strong></div>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/back-end/java.jpg">
                        <div class="heading3 color-blue2">Java</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/back-end/spring.png">
                        <div class="heading3 color-blue2">Spring</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="databaseModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <div class="heading2 color-blue1"><strong>Database Technologies:</strong></div>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/sql.png">
                        <div class="heading3 color-blue2">SQL</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/oracledb.png">
                        <div class="heading3 color-blue2">Oracle DB</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/mysql.png">
                        <div class="heading3 color-blue2">MySQL DB</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/mongodb.jpg">
                        <div class="heading3 color-blue2">MongoDB</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cicdModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <div class="heading2 color-blue1"><strong>CI-CD Technologies:</strong></div>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/git.jpg">
                        <div class="heading3 color-blue2">Git</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/jenkins.jpg">
                        <div class="heading3 color-blue2">Jenkins</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/docker.jpg">
                        <div class="heading3 color-blue2">Docker</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/kubernetes.png">
                        <div class="heading3 color-blue2">Kubernetes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="toolsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <div class="heading2 color-blue1"><strong>Tools:</strong></div>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/vscode.png">
                        <div class="heading3 color-blue2">VS Code</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/eclipse.png">
                        <div class="heading3 color-blue2">Eclipse</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/spring_tool_suite.png">
                        <div class="heading3 color-blue2">Spring Tool Suite</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/sql_server.jpg">
                        <div class="heading3 color-blue2">SQL Server</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/jira.jpg">
                        <div class="heading3 color-blue2">Jira</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="testingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <div class="heading2 color-blue1"><strong>Testing Frameworks:</strong></div>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/junit5.png">
                        <div class="heading3 color-blue2">JUnit5</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/mockito.png">
                        <div class="heading3 color-blue2">Mockito</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/jasmine.jpg">
                        <div class="heading3 color-blue2">Jasmine</div>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/karma.png">
                        <div class="heading3 color-blue2">Karma</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>