<div class="warp-overlay" *ngIf="(warpService.warpState$ | async) === 'warping'"></div>

<div [@warpTrigger]="warpService.warpState$ | async" (@warpTrigger.done)="warpService.resetWarp()">
    <router-outlet></router-outlet>
</div>

<div class="modal-backdrop" *ngIf="warpService.showConfirm$ | async">
    <div class="time-modal">
        <!-- <h3>Initiate Time Travel?</h3> -->
        <h3>Are you sure you want to visit to the <strong>old website</strong>? </h3>

        <div class="modal-actions">
            <button (click)="warpService.cancelTravel()" class="btn-cancel">Stay here</button>
            <button (click)="warpService.confirmTravel()" class="btn-confirm">Yes</button>
        </div>
    </div>
</div>

<div class="time-turner-anchor" (click)="warpService.toggleTimeTravel()">
    <div class="time-turner-wrapper">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="75px" height="75px">
            <g class="axis outer-axis">
                <circle cx="50" cy="50" r="45" class="gold-ring" />
                <circle cx="50" cy="5" r="2" fill="#DAA520" />
                <circle cx="50" cy="95" r="2" fill="#DAA520" />
            </g>

            <g class="axis middle-axis">
                <circle cx="50" cy="50" r="32" class="gold-ring" />
                <circle cx="18" cy="50" r="1.5" fill="#DAA520" />
                <circle cx="82" cy="50" r="1.5" fill="#DAA520" />
            </g>

            <g class="axis inner-core">
                <circle cx="50" cy="50" r="20" class="gold-ring thin" />

                <path d="M44 38 Q50 50 44 62 L56 62 Q50 50 56 38 Z" fill="#E0F7FA" opacity="0.8" stroke="#DAA520"
                    stroke-width="0.5" />

                <path class="sand" d="M46 58 L54 58 L50 52 Z" fill="#C5A059" />
            </g>
        </svg>
    </div>
</div>