h1,h2,h3,h4,h5,h6,p, ul, li {
    color: white;
}

.first-hr {
    border-top: 5px solid white;
    margin: 0px;
}
.second-hr {
    border-top: 2px solid white;
    margin: 0px;
}

br {
    color: white;
}

.logo {
    height: auto;
    width: 100%;
    max-height: 50px;
    max-width: 50px;
}

.logo:hover {
    box-shadow: 0px 0px 5px 5px rgba(243, 243, 243, 0.5);
}

button {
    background-color: white;
}

button:hover {
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(243, 243, 243, 0.5);
}