<div class="container p-2">
    <div class="row text-center">
        <h4><strong>Social:</strong></h4>
    </div>

    <hr class="second-hr">
    <br>

    <div class="row align-items-center">
        <div class="col-2"></div>

        <div class="col-sm-4 text-center" title="GitHub" (click)="redirectTo('github')">
            <img class="logo" src="../../assets/social/github.png" alt="">
        </div>
        
        <div class="col-sm-4 text-center" title="LinkedIn" (click)="redirectTo('linkedin')">
            <img class="logo" src="../../assets/social/linkedin.png" alt="">
        </div>
        <div class="col-2"></div>
    </div>

    <br>
    <hr class="second-hr">
    <br>

    <div class="row text-center">
        
        <!-- <div class="text-center">        
            <button class="btn btn-sm" title="Download Resume"><strong>Resume</strong></button>
        </div> -->
       
    </div>

</div>