.first-hr {
    border-top: 5px solid white;
    margin: 0px;
}
.second-hr {
    border-top: 2px solid white;
    margin: 0px;
}

.logo {
    height: auto;
    width: 100%;
    max-height: 50px;
    max-width: 50px;
}

.logo:hover {
    box-shadow: 0px 0px 5px 5px rgb(86, 156, 214);
}

button {
    background-color: rgb(86, 156, 214);
}

button:hover {
    background-color: rgb(124, 220, 254);
    box-shadow: 0px 0px 5px 5px rgba(86, 156, 214, 0.5);
}