<div class="container p-2">
    <div class="row text-center">
        <h4><strong>Experience:</strong></h4>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
        
        <!-- <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div> -->
    </div>


    <div class="row">
        <div class="col">
            <ul>
                <li>Work as a full-stack developer for the New York Life’s Group Benefit Solutions(previously Cigna GBS).</li>
                <li>Developed and implement new features into the Group Asset Repository Application which maintains a repository of the assets used in NYL’s GBS projects and provides a live dashboard of the same.</li>
                <li>Built CI/CD pipeline using Jenkins and uDeploy to deploy to AWS.</li>
            </ul>
        </div> 
    </div>
    
</div>