<div class="container">
    <div class="row text-center">
        <h4><strong>Work Experience:</strong></h4>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <p class="text-start">Software Developer | TCSL</p>
        </div>
        <div class="col-3">
            <p class="text-end">July 2020 - Present</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Worked as a Developer for the New York Life Insurance’s Group Benefit Solutions. (previously Cigna GBS)</li>
                <li>Developed and maintained an in-house application to track releases, components, assets, and implementations across projects, including dependency mapping and a user-friendly dashboard for comprehensive project insight.</li>
                <li>Led, planned, and directed the migration of the in-house application front-end from AngularJS to Angular.</li>
                <li>Implemented robust business logic, authentication and authorization in the REST API using Java and Spring Boot.</li>
                <li>Leveraged UML Diagrams and wireframes during migration planning to visualize system structure and user journeys, ensuring stakeholder alignment and clear communication.</li>
                <li>Increased user base by 25% through the implementation of application enhancements.</li>
                <li>Contributed to the front-end UI of the claims processing system that uses Anthropic Claude LLM to generate claim denial letters based on claim strategy.</li>
                <li>Participated in Agile ceremonies and provided work updates to the team during stand-up calls.</li>
            </ul>
        </div> 
    </div>
    
</div>