<div class="container">
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Work Experience:</strong></div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <div class="heading3 color-blue2 text-start">Software Developer | TCSL</div>
        </div>
        <div class="col-3">
            <div class="heading3 color-blue2 text-end">July 2020 - Present</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li class="heading4 color-blue2">Worked as a Developer for the New York Life Insurance’s Group Benefit Solutions. (previously Cigna GBS)</li>
                <li class="heading4 color-blue2">Developed and maintained an in-house application to track releases, components, assets, and implementations across projects, including dependency mapping and a user-friendly dashboard for comprehensive project insight.</li>
                <li class="heading4 color-blue2">Led, planned, and directed the migration of the in-house application front-end from AngularJS to Angular.</li>
                <li class="heading4 color-blue2">Implemented robust business logic, authentication and authorization in the REST API using Java and Spring Boot.</li>
                <li class="heading4 color-blue2">Leveraged UML Diagrams and wireframes during migration planning to visualize system structure and user journeys, ensuring stakeholder alignment and clear communication.</li>
                <li class="heading4 color-blue2">Increased user base by 25% through the implementation of application enhancements.</li>
                <li class="heading4 color-blue2">Contributed to the front-end UI of the claims processing system that uses Anthropic Claude LLM to generate claim denial letters based on claim strategy.</li>
                <li class="heading4 color-blue2">Participated in Agile ceremonies and provided work updates to the team during stand-up calls.</li>
            </ul>
        </div> 
    </div>
    
</div>