<div class="container">
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Work Experience:</strong></div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <div class="heading3 color-blue2 text-start">Software Developer | TCSL</div>
        </div>
        <div class="col-3">
            <div class="heading3 color-blue2 text-end">July 2020 - Present</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li class="heading4 color-blue2">Working as a Developer for the New York Life Insurance’s Group Benefit Solutions. (previously Cigna GBS)</li>
                <li class="heading4 color-blue2">Developed front-end components in Angular to display and interact with outputs from Generative AI Models, ensuring clear and user-friendly presentation of AI-generated content.</li>
                <li class="heading4 color-blue2">Contributed to the front-end development of the claims processing system that uses LLM to generate claim denial letters based on claim strategy notes.</li>
                <li class="heading4 color-blue2">Engineered key front-end features for multiple projects, resulting in a 20% increase in user engagement during the Pilot phase, and contributing to successful Scale rollout.</li>
                <li class="heading4 color-blue2">Collaborated closely with UX/UI designers and back-end engineers to build seamless and intuitive user interfaces.</li>
                <li class="heading4 color-blue2">Developed and maintained an in-house application to track releases, components, assets, and implementations across projects, including dependency mapping and a user-friendly dashboard for comprehensive project insight.</li>
                <li class="heading4 color-blue2">Leveraged UML Diagrams and wireframes during migration planning to visualize system structure and user journeys, ensuring stakeholder alignment and clear communication.</li>
                <li class="heading4 color-blue2">Participated in Agile ceremonies and provided work updates to the team during stand-up calls.</li>
            </ul>
        </div> 
    </div>
    
</div>