<div class="container">
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Skills:</strong></div>
    </div>
    
    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/front-end.jpg" 
                data-bs-toggle="modal" data-bs-target="#frontendModal">
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/back-end.jpg" data-bs-toggle="modal" data-bs-target="#backendModal">
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/database.png" data-bs-toggle="modal" data-bs-target="#databaseModal">
            </div>
        </div>
    
        <div class="row text-center">
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/cicd.jpg" data-bs-toggle="modal" data-bs-target="#cicdModal">
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/tools.png" data-bs-toggle="modal" data-bs-target="#toolsModal">
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="assets/homepage/testing.png" data-bs-toggle="modal" data-bs-target="#testingModal">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="frontendModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
        <div class="modal-header">
            <h4><strong>Front-End Technologies:</strong></h4>
            <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/angular.jpg">
                    <h5>Angular</h5>
                </div>
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/typescript.png">
                    <h5>TypeScript</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/javascript.png">
                    <h5>JavaScript</h5>
                </div>
                <div class="col text-center">
                    <img class="skills-animation" src="assets/homepage/front-end/html.jpg">
                    <h5>HTML</h5>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="backendModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <h4><strong>Back-End Technologies:</strong></h4>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/back-end/java.jpg">
                        <h5>Java</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/back-end/spring.png">
                        <h5>Spring</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="databaseModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <h4><strong>Database Technologies:</strong></h4>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/sql.png">
                        <h5>SQL</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/oracledb.png">
                        <h5>Oracle DB</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/mysql.png">
                        <h5>MySQL DB</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/database/mongodb.jpg">
                        <h5>MongoDB</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cicdModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <h4><strong>CI-CD Technologies:</strong></h4>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/git.jpg">
                        <h5>Git</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/jenkins.jpg">
                        <h5>Jenkins</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/docker.jpg">
                        <h5>Docker</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/ci-cd/kubernetes.png">
                        <h5>Kubernetes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="toolsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <h4><strong>Tools:</strong></h4>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/vscode.png">
                        <h5>VS Code</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/eclipse.png">
                        <h5>Eclipse</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/spring_tool_suite.png">
                        <h5>Spring Tool Suite</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/sql_server.jpg">
                        <h5>SQL Server</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/tools/jira.jpg">
                        <h5>Jira</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="testingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-shadow" style="background-color: rgb(40, 40, 40);">
            <div class="modal-header">
                <h4><strong>Testing Frameworks:</strong></h4>
                <button type="button" class="btn-close button1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
    
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/junit5.png">
                        <h5>Junit5</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/mockito.png">
                        <h5>Mockito</h5>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/jasmine.jpg">
                        <h5>Jasmine</h5>
                    </div>
                    <div class="col text-center">
                        <img class="skills-animation" src="assets/homepage/testing/karma.png">
                        <h5>Karma</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>