.logo {
    height: auto;
    width: 100%;
    min-height: 50px;
    min-width: 50px;
    max-height: 75px;
    max-width: 75px;
}

.skills-animation {
    height: 150px;
    width: 150px;
    border-radius: 35%;
    border-color: rgba(86, 156, 214, 1);
    border-width: 2px;
    border-style: solid;
    transition: 0.5s;
}

.skills-animation:hover {
    cursor: pointer;
    border-radius: 35%;
    box-shadow: 0px 0px 5px 5px rgba(86, 156, 214, 1);
}

.overlay {
    position: fixed;
    background-color: rgb(40, 40, 40, 0.5);
    height: 200%;
    width: 100%;
}

.button1 {
    background-color: rgb(206, 114, 60);
    opacity: 1;
}

.button1:hover {
    background-color: rgb(255, 181, 24);
    opacity: 1;
}

.modal-shadow {
    box-shadow: 0px 0px 5px 5px rgba(86, 156, 214, 1);
}

.mfp-zoom-in {
  
    /* start state */
    .mfp-with-anim {
      opacity: 0;
      transition: all 0.2s ease-in-out; 
      transform: scale(0.8); 
    }
    
    &.mfp-bg {
      opacity: 0;
        transition: all 0.3s ease-out;
    }
    
    /* animate in */
    &.mfp-ready {
      .mfp-with-anim {
        opacity: 1;
        transform: scale(1); 
      }
      &.mfp-bg {
        opacity: 0.8;
      }
    }
    
    /* animate out */
    &.mfp-removing {
      
      .mfp-with-anim {
        transform: scale(0.8); 
        opacity: 0;
      }
      &.mfp-bg {
        opacity: 0;
      }
      
    }
    
  }