<div class="container p-2">
    
    <div class="row text-center">
        <h4><strong>Skills:</strong></h4>
    </div>
    
    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
        <!-- <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div> -->
    </div>

    <br>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="../../assets/homepage/front-end.jpg" alt="" >
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="../../assets/homepage/back-end.jpg" alt="" >
            </div>
            <div class="col-md-4 p-2">
                <img class="skills-animation" src="../../assets/homepage/database.png" alt="" >
            </div>
        </div>
    
    
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-md-5 p-2">
                <img class="skills-animation" src="../../assets/homepage/cicd.jpg" alt="" >
            </div>
            <div class="col-md-5 p-2">
                <img class="skills-animation" src="../../assets/homepage/tools.png" alt="" >
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    
   

</div>

