<div class="container p-2">

    <div class="row text-center">
        <h4><strong>About me:</strong></h4>
    </div>

    <div class="row text-center">
        <p>I am a Software Developer for TCS. I work as a Consultant for New York Life Insurance - GBS(previously Cigna).</p>
    </div>


    <div class="row text-center">
        <h4><strong>Skills:</strong></h4>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-2"><h6>Languages:</h6></div>
        <div class="col-8 text-start"><h6>Java, JavaScript, TypeScript, SQL, PL/SQL</h6></div>
        <div class="col-1"></div>

        <div class="col-1"></div>
        <div class="col-2"><h6>Technologies:</h6></div>
        <div class="col-8 text-start"><h6>Angular, AngularJS, Spring, Spring Boot, Hibernate, Node.js, JSP, Servlets, JUnit 5</h6></div>
        <div class="col-1"></div>

        <div class="col-1"></div>
        <div class="col-2"><h6>Databases:</h6></div>
        <div class="col-8 text-start"><h6>MySQL, Oracle, PostgreSQL, MongoDB</h6></div>
        <div class="col-1"></div>
        
        <div class="col-1"></div>
        <div class="col-2"><h6>CI/CD:</h6></div>
        <div class="col-8 text-start"><h6>Jenkins, Docker, Kubernetes, Git</h6></div>
        <div class="col-1"></div>

        <div class="col-1"></div>
        <div class="col-2"><h6>Tools:</h6></div>
        <div class="col-8 text-start"><h6>Maven, VS Code, Eclipse IDE, Spring Tool Suite, Postman</h6></div>
        <div class="col-1"></div>

        <div class="col-1"></div>
        <div class="col-2"><h6>Additional:</h6></div>
        <div class="col-8 text-start"><h6>HTML, CSS, Bootstrap, JDBC, Web Application Development, Data Modeling</h6></div>
        <div class="col-1"></div>


    </div>





</div>