@use "sass:meta";

.bootstrap-wrapper {
    background-color: rgb(24, 24, 24) !important;
    @include meta.load-css("./old-styles.css");
    @include meta.load-css("../node_modules/bootstrap/dist/css/bootstrap.min.css");
}

/* You can add global styles to this file, and also import other style files */
/* Color Palette */
$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$green-tint: rgba(100, 255, 218, 0.1);

/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $navy;
    color: $slate;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: inherit;
}

ul {
    list-style: none;
}