/* You can add global styles to this file, and also import other style files */
body { 
    width: 100%; 
    height: 100%;
    background-color: rgb(24, 24, 24) !important;
    /* background-image: url('/assets/background/background.jpg'); */
    /* background-size: cover;  */
}


h1, h4 {
    color: rgb(86, 156, 214) !important;
}

h2,h3,h5,h6,p, ul, li {
    color: rgb(124, 220, 254) !important;
}

.use-font {
    font-family: 'Consolas';
}

.first-hr {
    border-top: 2px solid  rgb(255, 181, 24) !important;
    margin: 0px;
    opacity: 1;
}
.second-hr {
    border-top: 2px solid  rgb(206, 114, 60) !important;
    margin: 0px;
    opacity: 1;
}

.color-blue1 {
    color: rgb(86, 156, 214) !important;
}

.color-blue2 {
    color: rgb(124, 220, 254) !important;
}

.heading1 {
    font-size: 24px;
}

.heading2 {
    font-size: 20px;
}

.heading3 {
    font-size: 16px;
}

.heading4 {
    font-size: 14px;
}

.heading5 {
    font-size: 12px;
}

.heading6 {
    font-size: 10px;
}