@use "sass:meta";

.bootstrap-wrapper {
    background-color: rgb(24, 24, 24) !important;
    @include meta.load-css("./old-styles.css");
    @include meta.load-css("../node_modules/bootstrap/dist/css/bootstrap.min.css");
}

/* You can add global styles to this file, and also import other style files */
/* Color Palette */
$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$slate: #8892b0;
$light-slate: #a8b2d1;
$light-slate-1: #e2e8f0;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$green-1: #5eead4;
$green-tint: rgba(100, 255, 218, 0.1);


//New Palette
$pf-bg: #FDFCDC;
$pf-h1: #0081A7;
$pf-h2: #0081A7;
$pf-h3: #005F73;
$pf-p: #005F73;
$pf-a: #F07167;
$pf-ul: #00AFB9;
$pf-ol: #00AFB9;
$pf-chip-bg: #FED9B7;
$pf-chip-text: #0081A7;

/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--pf-bg);
    color: $slate;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    cursor: url('assets/custom-cursor.svg'), auto;
}

a {
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: inherit;
}

ul {
    list-style: none;
}

[data-theme="light"] {
    --pf-bg: #F1FAEE;
    --pf-h1: #1D3557;
    --pf-h2: #1D3557;
    --pf-h3: #1D3557;
    --pf-p: #3f7293;
    --pf-span: #3f7293;
    --pf-a: #db0414;
    --pf-hover-a: #0081A7;
    --pf-ul: #3f7293;
    --pf-ol: #3f7293;

    --pf-chip-bg: #A8DADC;
    --pf-chip-hover-bg: #457B9D;
    --pf-chip-text: #1D3557;
    --pf-chip-hover-text: #FFFFFF;

    --pf-card-bg: #A8DADC;
    --pf-card-title: #1D3557;
    --pf-card-hover-title: #F1FAEE;
    --pf-card-desc: #457B9D;
    --pf-card-hover-desc: #A8DADC;
    --pf-card-sub-heading: #61687c;
    --pf-card-sub-heading-hover: #c5d0f2;
    --pf-card-shadow: rgba(29, 53, 87, 0.1);
    --pf-card-hover: #1D3557;

    --pf-arrow-svg: #3f7293;
    --pf-arrow-hover-svg: #db0414;
}

[data-theme="dark"] {
    --pf-bg: #{ $navy };
    --pf-h1: #{ $slate };
    --pf-h2: #{ $slate };
    --pf-h3: #{ $slate };
    --pf-p: #{ $slate };
    --pf-span: #{ $slate };
    --pf-a: #eb73fa;
    --pf-hover-a: #{ $green-1 };
    --pf-ul: #00AFB9;
    --pf-ol: #00AFB9;

    --pf-chip-bg: #{ $green-tint };
    --pf-chip-hover-bg: #{ $green-tint };
    --pf-chip-text: #{ $green-1 };
    --pf-chip-hover-text: #{ $green-1 };

    --pf-card-bg: #FFFFFF;
    --pf-card-title: #ccd6f6;
    --pf-card-hover-title: #ccd6f6;
    --pf-card-desc: #8892b0;
    --pf-card-hover-desc: #8892b0;
    --pf-card-sub-heading: #{ $slate };
    --pf-card-sub-heading-hover: #{ $slate };
    --pf-card-shadow: 0 10px 8px rgba(0, 0, 0, .04), 0 4px 3px rgba(0, 0, 0, .1);
    --pf-card-hover: rgba(255, 255, 255, 0.03);

    --pf-arrow-svg: #{ $green-1 };
    --pf-arrow-hover-svg: #eb73fa;
}