<div class="container p-2">
    <div class="row text-center">
        <h4><strong>Certifications:</strong></h4>
    </div>
    
    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
        <!-- <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div> -->
    </div>

    <div class="row g-0">
        <div class="col-2"></div>

        <div class="col-8">
            <div class="row certifications align-items-center" (click)="redirectTo('oracle_cert')">
                <div class="col-2 text-center">
                    <img class="logo" src="../../assets/certifications/oracle_cert.png" alt="">
                </div>
                <div class="col-10 text-center">
                    <h5>Oracle Certified Professional Java Programmer</h5>
                </div>
            </div>
        </div>

        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
        <!-- <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div> -->
    </div>
    
    <div class="row g-0">
        <div class="col-2"></div>

        <div class="col-8">
            <div class="row certifications align-items-center" (click)="redirectTo('aws_cert')">
                <div class="col-2 text-center">
                    <img class="logo" src="../../assets/certifications/aws_cert.png" alt="">
                </div>
                <div class="col-10 text-center">
                    <h5>AWS Certified Solutions Architect Associate</h5>
                </div>
            </div>
        </div>
        
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="second-hr">
        </div>
        <!-- <div class="col-1"></div>
        <div class="col-10">
            <hr class="col second-hr">
        </div>
        <div class="col-1"></div> -->
    </div>
    
</div>