<div class="container">
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Certifications:</strong></div>
        <hr class="second-hr">
    </div>

    <div class="row">
        <div class="col-2"></div>

        <div class="col-8 m-1">
            <div class="row certifications align-items-center" (click)="redirectTo('oracle_cert')">
                <div class="col-2 text-center">
                    <img class="logo" src="assets/certifications/oracle_cert.png" alt="">
                </div>
                <div class="col-10 text-center">
                    <div class="heading3 color-blue2">Oracle Certified Professional Java Programmer</div>
                </div>
            </div>
        </div>

        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <hr class="second-hr">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8 m-1">
            <div class="row certifications align-items-center" (click)="redirectTo('aws_cert')">
                <div class="col-2 text-center">
                    <img class="logo" src="assets/certifications/aws_cert.png" alt="">
                </div>
                <div class="col-10 text-center">
                    <div class="heading3 color-blue2">AWS Certified Solutions Architect Associate</div>
                </div>
            </div>
        </div>
        
        <div class="col-2"></div>
    </div>

</div>