@use '../../styles.scss';

.theme-switch {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 3rem;
    }
}

// Left Sidebar (Fixed on Desktop)
header {
    padding-top: 5rem;

    @media (min-width: 1024px) {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 48%;
        padding: 6rem 0;
    }

    h1 {
        font-size: clamp(40px, 8vw, 48px);
        font-weight: 700;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }

    h3 {
        font-size: 1.25rem;
        margin-top: 0.75rem;
    }

    p {
        margin-top: 1rem;
        max-width: 300px;
    }
}

h1 {
    color: var(--pf-h1);
}

h2 {
    color: var(--pf-h2);
}

h3 {
    color: var(--pf-h3);
}

p {
    color: var(--pf-p);
}

// Navigation Links
.nav {
    margin-top: 4rem;

    li {
        margin-bottom: 1rem;

        a {
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 700;
            width: 200px;

            .nav-indicator {
                width: 32px;
                height: 1px;
                // background-color: styles.$slate;
                background-color: var(--pf-a);
                margin-right: 1rem;
                transition: width 0.2s ease;
            }

            &:hover {
                // color: styles.$white;
                color: var(--pf-a);

                .nav-indicator {
                    width: 64px;
                }
            }
        }
    }
}

.nav-width {
    width: 64px;
    height: 1px;
    background-color: var(--pf-a);
    margin-right: 1rem;
    transition: width 0.2s ease;
}

.nav-active-text {
    color: var(--pf-a);
    font-weight: 700;
}

.social-links {
    display: flex;
    gap: 35px;
    font-size: 30px;
}

// Right Content Area
main {
    padding-top: 2rem;

    @media (min-width: 1024px) {
        width: 52%;
        // padding: 6rem 0;
    }
}

section {
    padding-top: 5rem;
    margin-bottom: 3rem;

    p {
        margin-bottom: 1rem;
    }
}

.text-link {
    color: var(--pf-a) !important;
}

.text-link:hover {
    color: var(--pf-hover-a) !important;
}

.resume-link {
    color: var(--pf-a);
    font-size: 18px;
    text-align: center;

    &:hover {
        cursor: pointer;
        color: var(--pf-hover-a);

        .arrow-svg {
            fill: var(--pf-arrow-hover-svg);
            transform: translate(5px, -5px);
        }
    }
}

.certs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;

    .certs {
        display: flex;
        justify-content: space-evenly;
        /* Centers horizontally */
        align-items: center;
        /* Centers vertically */
        height: 110px;
        width: 110px;
        border-radius: 15px;
    }

    .certs:hover {
        cursor: pointer;
        background-color: var(--pf-card-hover);
        box-shadow: var(--pf-card-shadow);
    }
}

.arrow-span:hover {
    cursor: pointer;
    color: var(--pf-arrow-hover-svg);
}

.arrow-svg {
    /* This ensures the movement is smooth */
    transition: transform 0.3s ease-in-out;
    fill: var(--pf-arrow-svg);
}

// Experience Cards
.job-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-radius: 4px;
    transition: background 0.3s ease;

    @media (min-width: 640px) {
        grid-template-columns: repeat(8, 1fr);
    }

    &:hover {
        background-color: var(--pf-card-hover);
        box-shadow: var(--pf-card-shadow);
        cursor: pointer;


        .job-title {
            color: var(--pf-card-hover-title) !important;
        }

        .job-desc {
            color: var(--pf-card-hover-desc) !important;
            font-size: 0.875rem;
            margin-top: 0.5rem;
        }

        .arrow-svg {
            fill: var(--pf-arrow-hover-svg);
            transform: translate(5px, 0px);
        }

        .tag {
            background-color: var(--pf-chip-hover-bg);
            color: var(--pf-chip-hover-text);
            font-size: 0.75rem;
            padding: 0.25rem 0.75rem;
            border-radius: 999px;
            margin: 0.5rem 0.5rem 0 0;
        }

        .job-period {
            color: var(--pf-card-sub-heading-hover);
        }
    }

    .job-period {
        grid-column: span 2;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--pf-card-sub-heading);
    }

    .proj-image {
        grid-column: span 2;
        justify-self: center;

        img {
            border-radius: 15px;
            height: 80px;
            width: 120px;
        }
    }

}

.job-content {
    grid-column: span 6;

    .job-title {
        color: var(--pf-card-title) !important;
        font-weight: 500;
        font-size: 1rem;
    }

    .job-desc {
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
}

// Tech Tags
.tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;

    .tag {
        background-color: var(--pf-chip-bg);
        color: var(--pf-chip-text);
        font-size: 0.75rem;
        padding: 0.25rem 0.75rem;
        border-radius: 999px;
        margin: 0.5rem 0.5rem 0 0;
    }
}



.live-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: sans-serif;
    font-weight: bold;
    color: #0ba026;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #0ba026;
    border-radius: 50%;
    display: inline-block;

    /* Apply the animation */
    animation: blink-green 1.5s infinite ease-in-out;
}

/* The animation logic */
@keyframes blink-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #0ba026;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(211, 47, 47, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(211, 47, 47, 0);
    }
}

.isLive {
    cursor: pointer;
}


footer {
    margin: 3rem;
    padding: 4rem 0;
}


p {
    a {
        color: styles.$light-slate-1;
    }

    a:hover {
        color: styles.$green-1;
    }
}

span {
    color: var(--pf-span);
}

.edu-image {
    grid-column: span 2;
    justify-self: center;

    img {
        border-radius: 15px;
        height: 80px;
        width: 80px;
    }
}