<div class="container">
    <header>
        <div>
            <h1>Ankit Patel</h1>
            <h2>Software Developer</h2>
            <p>I build UI and APIs for enterprise-level web applications.</p>

            <nav class="nav">
                <ul>
                    <li *ngFor="let link of navLinks">
                        <a [href]="link.url">
                            <span class="nav-indicator"></span>
                            <span>{{ link.name }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <ul class="social-links">
            <li *ngFor="let s of socials">
                <a title="{{s.title}}" [href]="s.url" target="_blank"><i [class]="'bi ' + s.icon"></i></a>
            </li>
        </ul>
    </header>

    <main>
        <section id="about">
            <p>Hello! I'm Ankit, a Software Developer based in Philadelphia, PA. I have 6+ years of full-time experience
                and
                expertise in developing and maintaining web applications using Angular, TypeScript, Java, Spring, and
                Hibernate.
                I have a
                proven track record in consistently delivering robust and scalable applications from Pilot to Production
                that
                solve problems and drive business value.
            </p>
            <p>Currently, I'm a Senior Developer at TCSL, specializing in developing front-end user interfaces that meet
                accessibility
                standards and best-practices.</p>
            <p> In my spare time, I’m usually running, playing table-tennis, reading a book, or sketching.
            </p>
        </section>

        <section id="experience">
            <div *ngFor="let job of jobs" class="job-card">
                <div class="job-period">{{ job.period }}</div>
                <div class="job-content">
                    <div class="job-title">{{ job.title }} · {{ job.company }}</div>
                    <p class="job-desc">{{ job.desc }}</p>
                    <div class="tag-list">
                        <span *ngFor="let tech of job.tech" class="tag">{{ tech }}</span>
                    </div>
                </div>
            </div>
            <div class="resume-link">
                <a href="https://1drv.ms/b/c/5fbb5ec0543e51ea/IQD_7tcYRIZFSozDb9Kvq3V_AUOO_AkNpnoPJEscGxPBIO0?e=gacd3L"
                    target="_blank">View Full
                    Resume
                    <span class="arrow-span">
                        <svg class="arrow-svg" fill="#000000" width="20px" height="20px" viewBox="0 0 256 256" id="Flat"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M200,64V168a8,8,0,0,1-16,0V83.314L69.65674,197.65723a8.00018,8.00018,0,0,1-11.31348-11.31446L172.686,72H88a8,8,0,0,1,0-16H192A8.00039,8.00039,0,0,1,200,64Z" />
                        </svg>
                    </span>
                </a>
            </div>
        </section>

        <section id="certification">
            <div class="certs-container">
                <a class="certs" target="_blank"
                    href="https://cp.certmetrics.com/amazon/en/public/verify/credential/0CM3X3MBFFQ1QJSZ">
                    <img src="assets/badges/aws_cert.png" alt="" height="100px" width="100px">
                </a>
                <a class="certs" target="_blank"
                    href="https://www.youracclaim.com/badges/3f63cf0e-e8f0-4847-978d-23d9d8125002/linked_in_profile">
                    <img src="assets/badges/oracle_cert.png" alt="" height="100px" width="100px">
                </a>
            </div>
        </section>

        <section id="projects">
            <div *ngFor="let proj of projects" class="job-card" (click)="openPage(proj.projUrl)"
                [class.isLive]="proj.isLive">
                <div class="proj-image">
                    <img src="{{ proj.imageUrl }}" alt="">
                    @if(proj.isLive) {
                    <div class="live-indicator">
                        <span class="dot"></span>
                        <span class="text">LIVE</span>
                    </div>
                    }
                </div>
                <div class="job-content">
                    <div class="job-title">
                        {{ proj.title }}
                        @if(proj.isLive) {
                        <span class="arrow-span">
                            <svg class="arrow-svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.4697 5.46967C13.7626 5.17678 14.2374 5.17678 14.5303 5.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L14.5303 18.5303C14.2374 18.8232 13.7626 18.8232 13.4697 18.5303C13.1768 18.2374 13.1768 17.7626 13.4697 17.4697L18.1893 12.75H4C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25H18.1893L13.4697 6.53033C13.1768 6.23744 13.1768 5.76256 13.4697 5.46967Z" />
                            </svg>
                        </span>
                        }
                    </div>
                    <p class="job-desc" [innerHTML]="proj.desc"></p>
                    <p>Key Features:</p>
                    <ol [innerHTML]="proj.keyFeatures"></ol>

                    <div class="tag-list">
                        <span *ngFor="let tech of proj.tech" class="tag">{{ tech }}</span>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            Developed in Angular and hosted using GitHub pages.
        </footer>

    </main>
</div>