.logo {
    height: auto;
    width: 100%;
    min-height: 50px;
    min-width: 50px;
    max-height: 100px;
    max-width: 100px;
}

.education:hover {
    background-color: rgba(86, 156, 214, 0.5);
}