<div class="container p-2">
    <div class="row text-center">
        <h4><strong>Education:</strong></h4>
    </div>
    <hr class="second-hr">

    <div class="education row align-items-center g-0" (click)="redirectTo('BU')">
        <div class="col-sm-2 text-center g-0">
            <img class="logo" src="../../assets/education/bu_logo.png" alt="">
        </div>
        <div class="col-sm-10 text-center">
            <h6>Master of Science, Computer Science</h6>
            <h6>Binghamton University, SUNY - 2019</h6>
        </div>
    </div>
    <hr class="second-hr">
    <div class="education row align-items-center g-0" (click)="redirectTo('MU')">
        <div class="col-sm-2 text-center g-0">
            <img class="logo" src="../../assets/education/mu_logo.png" alt="">
        </div>
        <div class="col-sm-10 text-center">
            <h6>Bachelor of Engineering, IT</h6>
            <h6>University of Mumbai, India - 2017</h6>
        </div>
    </div>
    <hr class="second-hr">
</div>