<div class="container p-2">

    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>About me:</strong></div>
    </div>
    <hr class="second-hr">
    <div class="row text-center">
        <div class="heading4 color-blue2">I am a Full-Stack Software Developer. I work as a Consultant for New York Life Insurance - GBS(previously Cigna).</div>
    </div>
    <!-- <hr class="second-hr"> -->

    <br>
    <div class="row text-center">
        <div class="heading2 color-blue1"><strong>Education:</strong></div>
    </div>
    <hr class="second-hr">

    <div class="education row align-items-center g-0" (click)="redirectTo('BU')">
        <div class="col-sm-2 text-center g-0">
            <img class="logo rounded" src="assets/education/bu_logo.png" alt="">
        </div>
        <div class="col-sm-10 text-center">
            <div class="heading4 color-blue2">Master of Science, Computer Science</div>
            <div class="heading4 color-blue2">Binghamton University, SUNY - 2019</div>
        </div>
    </div>
    <hr class="second-hr">
    <div class="education row align-items-center g-0" (click)="redirectTo('MU')">
        <div class="col-sm-2 text-center g-0">
            <img class="logo rounded" src="assets/education/mu_logo.png" alt="">
        </div>
        <div class="col-sm-10 text-center">
            <div class="heading4 color-blue2">Bachelor of Engineering, IT</div>
            <div class="heading4 color-blue2">University of Mumbai, India - 2017</div>
        </div>
    </div>
    <hr class="second-hr">
</div>