<form>
    <div class="form-group mt-5">
        <img src="/assets/profile/Ankit_Patel.jpg" class="mx-auto d-block rounded img-fluid" alt="profile_pic" width="300" height="300">
    </div>
    <div class="form-group">
        <app-education></app-education>
    </div>
    <div class="form-group">
        <app-social></app-social>
    </div>
</form>


<!-- <div class="row mt-5">
    <img src="/assets/profile/Ankit_Patel.jpg" class="m-auto d-block rounded" alt="profile_pic" width="300" height="300">
</div>
<div class="row m-5">
    <app-education></app-education>
</div>
<div class="row m-5">
    <app-social></app-social>
</div> -->