.left-side {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* border: 2px solid white; */
    height: 100%;
    /* background-color: rgb(65, 16, 222, 0.7); */
    background-color: rgb(40, 40, 40) !important;;
}

.profile-animation {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: loader 3s ease-in-out infinite alternate;
}

@keyframes loader {
    from {
        box-shadow: 0 0 5px 5px rgb(86, 156, 214);
    }
    to {
        box-shadow: 0 0 0 0 rgb(40, 40, 40);
    }
  }