<div class="left-side">
    <br><br>

    <div class="container text-center">
        <img class="profile-animation" src="../../assets/profile/display_pic.jpg" alt="" height="200px" width="200px">
    </div>

    <div class="container">
        <h1 class="text-center">Ankit Patel</h1>   
    </div>

    <hr class="first-hr">
    <div class="container">
        <h3 class="text-center">Software Developer</h3>
    </div>

    <hr class="first-hr">
    
    
    <br>
    <app-education></app-education>
    
    
    <br><br>

    <app-social></app-social>

</div>


