name: Build and Deploy
on:
  push:
    branches:
      - master # Or 'main' depending on your repo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22.19.0'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build
        # Replace YOUR_REPO_NAME with your actual repository name
        run: npx ng build #--base-href /ankitppatel07.github.io/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          branch: gh-pages
          folder: docs/browser # Points to the new browser folder
          clean: true
          
